[submodule "Hazel/vender/spdlog"]
	path = Hazel/vender/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Hazel/vender/GLFW"]
	path = Hazel/vender/GLFW
	url = https://github.com/zxzxcc112/glfw
[submodule "Hazel/vender/glm"]
	path = Hazel/vender/glm
	url = https://github.com/g-truc/glm
[submodule "Hazel/vender/ImGui"]
	path = Hazel/vender/ImGui
	url = https://github.com/zxzxcc112/imgui
[submodule "Hazel/vender/yaml-cpp"]
	path = Hazel/vender/yaml-cpp
	url = https://github.com/zxzxcc112/yaml-cpp
